<!DOCTYPE html>
<html>
 <head>
  <title> Alpha Tech Academy</title>
  <!-- {% load static %} -->
  <!-- <link rel="stylesheet" href="{% static 'css/style.css' %}"> -->
  <link rel="stylesheet" type="text/css"  href="../../static/css/style.css"> 
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
 </head>

 <body>
    <header>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-3">
                    <a href="https://alterra.id" class="header-logo">
                        <p>Alpha Tech Academy</p>
                    </a>
                </div>
                <div class="col-9">
                    <div class="header-nav">
                        <ul class="header-nav__list list-unstyled">
                            <li>
                                <a href="{% url 'home'%}">Home</a>
                            </li>
                            <li>
                                <a href="{% url 'blog'%}">Blog</a>
                            </li>
                            <li>
                                <a href="{% url 'mentor'%}">Mentor</a>
                            </li>
                            <li>
                                <a href="{% url 'mentee'%}">Mentee</a>
                            </li>
                            <li>
                                <a href="{% url 'about'%}">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="heading">
        <div class= "text_satu">
          <h1> Alpha Tech Academy</h1>
          <p>Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT Background)
            a chance to be professional Tech Talent within 3 months . Contact person: Email:
            academy@alphatech.id phone: 0877 9609 9530</p>
        </div>
    </div>
    <div class="container konten">
        <div class="row align-items-center">
            <div class= "col-6 gambar">
                <img class="benefit" src="../../static/asset/home/benefit.png"></br>
                <img class="job" src="../../static/asset/home/search-job.png"></br>
                <img class="paid" src="../../static/asset/home/get-paid.png"></br>
                <img class="mission" src="../../static/asset/home/mission.png"></br>
            </div>
            <div class="col-6 teks">
                <section class="no_satu">
                    <h3>Learn Awesome Tech</h3>
                    <p>You will learn some programming language such as: Python, and Javascript,
                     build back-end apps using flash framework and microservice concept, build client-side apps
                     using React library etc.
                    </p>
                </section>
                <section class="no_dua">
                   <h3>Land New Job</h3>
                   <p>If you can pass this awesome program, you will be part of our reliable Tech
                    team for especially, Software Engineer position and other tech position such 
                    Quality Engineer, System Analyts, etc.
                   </p>
                </section>
                <section class="no_tiga">
                    <h3>get Paid To Learn</h3>
                    <p>Join for free and earn some money. Yes you read that right, no registration 
                    fee required to enter to enter this program. To make things even better,you will get
                    pocket money to participating only. Cool right?
                    </p>
                </section>
                </br>
                <section class="no_empat">
                    <h2>Who Are We?</h2>
                    <p>Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT Background)
                    a chance to be professional Tech Talent within 3 months.
                    </p>
                    </br>
                    <h2>What is Our Mission?</h2>
                    <p>We want to improve capability of tech talent Indonesia.
                    </p>
                </section>
            </div>
        </div>
        </br>
        <div class="container skill_list">
            <div class="col-6 skill">
                <h1>What will you learn?</h1>
                </br>
                <img class="html" src="../../static/asset/home/learn-html.png">
                <img class="py" src="../../static/asset/home/learn-programming.png">
                <img class="git" src="../../static/asset/home/learn-git.png">
                <img class="api" src="../../static/asset/home/learn-api.png">
            </div>
            <div class="col-6 skill">
                <img class="react" src="../../static/asset/home/learn-react.png">
                <img class="tdd" src="../../static/asset/home/learn-tdd.png">
                <img class="server" src="../../static/asset/home/learn-server.png">
                <img class="scrum" src="../../static/asset/home/learn-scrum.png">
            </div>
        </div>
    </div>
    <footer>
        <section class="footer_satu">
            <h4>Our Products:</h4>
            <img class="server" src="../../static/asset/footer/logo-grey-alphapay.png">
            <img class="scrum" src="../../static/asset/footer/logo-grey-sepulsa.png">
            <img class="server" src="../../static/asset/footer/logo-grey-alphabill.png">
        </section>
        <section class="footer_dua">
                <p class="buka"><strong>Contact Person:</strong><p class="dalam">Mobile phone:087796099530. Email:academy@alphatech.id </p>
        </section>
    </footer>
 </body>

</html>